* {
    box-sizing: border-box;
}

@font-face {
    /* importa a fonte que usuaremos nesse jogo, a mesma estão na pasta fontes*/
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}

[wm-flappy] {
    /* aqui tudo que tem essa class especifico sera aplicado essa função*/
    position: relative;
    border: 5px solid dodgerblue;
    /* borda*/
    height: 700px;
    /* altura*/
    width: 1200px;
    /* largura */
    margin: 15px;
    /* margem*/
    background-color: deepskyblue;
    /* cor*/
    overflow: hidden;
    /* tudo que está fora da div não aparece*/
}

.passaro {
    /* faz que o passoro fique centralizado na pagina, para iniciar o jogo*/
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
}

.par-de-barreiras {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*organiza em forma de coluna */
    justify-content: space-between;
    /* deixa o espaco vazio no meio entre os objetos */
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #A5E82E);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 100;
}